<section class='book-details'>
    <div class='details'>
        <h1><%= @book.title %></h1>
        <img src=<%= @book.cover_img %> />
        <p><strong>Published:</strong> <%= @book.publish_date.year %></p>
        <p><%= @book.synopsis %></p>
    </div>
</section>

<section class="admin">
    <%= link_to "Edit", edit_book_path(@book), class: "button" %>
    <%= link_to "Delete", @event, class: "button", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</section>